.all-notes-container{
    position: relative;
    left: 15vw;
    padding: 1rem;
    width: 85vw;
}
.margin-l-xs{
    margin-left: 5px;
}
.note-card-container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    align-items: center;
}