.editor-footer {
  position: relative;
  gap: 1.5rem;
}
.dropdown {
  background-color: var(--light-primary-color);
  padding: 1rem;
  border-radius: 5px;
  position: absolute;
  box-shadow: var(--shadow);
}
.pallet-position {
  top: 3rem;
  left: 1rem;
  gap: 0.5rem;
}
.priority-position {
  left: 12rem;
  top: 3rem;
  width: 7rem;
}
.labels-position {
  left: 21rem;
  top: 3rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.color-btn {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.input-radio {
  display: flex;
  gap: 3px;
}

.add-label-wrapper {
  display: flex;
  gap: 0.5rem;
}
.labels-checkbox-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  font-size: 1rem;
  gap: 5px;
}

.label-checkbox {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.label-checkbox label {
  font-size: 0.8rem;
}
