.sidebar-container{
    position: fixed;
    left: 0;
    top: 9vh;
    width: 15vw;
}
.sidebar-items{
    display: flex;
    flex-direction: column;
    min-height: 93vh;
    border-right: 1px solid var(--light-secondary-color);
    gap: 10px
}
.sidebar-menu-item{
    font-weight: 700;
    padding: 10px;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 2.5rem;
    cursor: pointer;
}
