.sidebar-container{
    position: fixed;
    left: 0;
    top: 9vh;
    width: 15vw;
}
.sidebar-items{
    display: flex;
    flex-direction: column;
    min-height: 93vh;
    gap: 10px;
    padding-top: 1rem;
}
.sidebar-menu-item{
    font-weight: 600;
    padding: 0.8rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 2.5rem;
    cursor: pointer;
    color: var(--secondary-color);
    text-decoration: none;
    letter-spacing: 0.5px;
}
.sidebar-menu-item:hover{
    color: var(--primary-color);
    background-color: var(--light-primary-color);
    width: max-content;
    border-radius: 10px;
}
.active{
    color: var(--primary-color);
    background-color: var(--light-primary-color);
    width: max-content;
    border-radius: 10px;
}